<turbo-frame id="summary_response">
<div class="summary_div">
  <p class="fs-6">Summary of Current Weather for: <%= location %></p>

  <table class="summary_table">
    <% if summary["from_cache"] %>
      <tr>
        <td colspan="3">Forecast is from cached data</td>
      </tr>
    <% end %>
    <tr>
      <td><%= image_tag(summary["icon"]) %></td>
      <td><p class="fs-3"><%= sprintf("%.0f", summary["high"]) %>&deg; <%= summary["temperatureUnit"] %> / <%= sprintf("%.0f", summary["low"]) %>&deg;<%= summary["temperatureUnit"] %></p></td>
      <td><p class="fs-3"><%= summary["windSpeed"] %> <%= summary["windDirection"] %></p></td>
    </tr>
    <tr>
      <td><%= summary["shortForecast"] %></td>
      <td>High / Low:</td>
      <td>Wind MPH:</td>
    </tr>
  </table>

  <table class="forecast_btns_table">
    <tr>
      <td>
        <%= button_to "Full Forecast", "full",
                      method: :get,
                      params: {lat: summary["latitude"], long: summary["longitude"], location: location, zip: zip, location_name: location_name },
                      data: { turbo: false },
                      class: "btn btn-primary"
        %></td>
      <td> <%= button_to "text Only Forecast", "text_only",
                         method: :get,
                         params: {lat: summary["latitude"], long: summary["longitude"], location: location, zip: zip, location_name: location_name },
                         data: { turbo: false },
                         class: "btn btn-primary"
      %></td>
    </tr>
  </table>
</div>
</turbo-frame>